<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">



    <filter>
        <filter-name>DBConnectionFilter</filter-name>
        <filter-class>com.example.coursesSystem.filter.DBConnectionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DBConnectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>com.example.coursesSystem.auth.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login-page</url-pattern>
    </servlet-mapping>

</web-app>